.header {
    grid-area: h;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
    }
.header img {
      width:70px;
      height: 100%;
    }
.loginBlock {
  float: right;
  margin: 20px;
  font-weight: bold;
}
.loginBlock a {
  color:black;

}